{% extends 'base.html.twig' %}

{% block title %}Horal{% endblock %}

{% block body %}

    <h1>Horal říká</h1>

    {% for message in app.flashes('info') %}
        <div class="flash-info">
            Info: {{ message }}
        </div>        
    {% endfor %}

    {% for forecast in forecasts %}
        <p>{{ forecast }}</p>
        
    {% endfor %}

    {% if treshold %} 
        <p>Treshold: {{ treshold }}</p>        
    {% endif %}

    

    <nav>
    <a href="{{ path('app_weather_horalrika', {
        treshold: 11
    })}}">Zkusit znovu.</a>
    </nav>
    {# <p>{{ countryCode }}: {{ city }}</p> #}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const route = "{{ url('app_weather_horalrika')|escape('js') }}";
        console.log(route);
    </script>
{% endblock %}
